<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
            <title>{{ title }} - NEA</title>
        {% else %}
            <title>NEA</title>
        {% endif %}
    </head>
    <body>
        <div>
            NEA:
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login.loginform') }}">Login</a>
            {% else %}
            <a href="{{ url_for('login.logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
